{% extends 'ele/base.html' %}

{% block title %}


Academics

{% endblock %}





  {% block content %}
  <div class="container mx-auto p-4">
    <h1 class="text-4xl font-bold text-center text-blue-600">Academics</h1>
    <p class="text-lg text-gray-700 mt-4">Our department offers a range of programs and courses in electrical engineering, covering topics such as circuits, electronics, power systems, communications, signal processing, and more.</p>
    <div class="grid grid-cols-2 gap-4 mt-8">
      <div class="card w-full h-80 mx-auto">
        <img src="/media/images/ee.jpg" alt="Electrical Engineering" class="w-full h-80 object-cover rounded-lg">
          <h2 class="text-2xl font-semibold text-gray-800">Undergraduate Programs</h2>
          <p class="text-gray-600 mt-2">Earn a Bachelor of Science in Electrical Engineering or a Bachelor of Applied Science in Electrical Engineering Technology.</p>
          <a href="{% url 'undergraduateprogrammes' %}" class="inline-block  text-gray-900 font-bold px-4 py-2 mt-4 rounded-full border border-gray-900">Learn more</a>
      </div>
      <div class="card w-full h-full mx-auto">
        <img src="https://source.unsplash.com/300x200/?research" alt="Research" class="w-full h-80 object-cover rounded-lg">
          <h2 class="text-2xl font-semibold text-gray-800">Graduate Programs</h2>
          <p class="text-gray-600 mt-2">Pursue a Master of Science or a Doctor of Philosophy in Electrical Engineering and conduct cutting-edge research in our state-of-the-art facilities.</p>
          <a href="{% url 'undergraduateprogrammes' %}" class="inline-block  text-gray-900 font-bold px-4 py-2 mt-4 rounded-full border border-gray-900">Learn more</a>
      </div>
    </div>
  </div>
  <style>
    .card {
  width: 90%;
} /* Change this value to adjust the width of the card */

  </style>
{% endblock %}