<html>
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^2.2/dist/tailwind.min.css" rel="stylesheet">
  
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css"/>  

  <title>{% block title %}

    {% endblock %}
  </title>
  {% block scripts %}
  <!-- Your script block goes here -->
  {% endblock %}
  <style>
    .dropdown:focus-within .dropdown-menu {
    display: block;
  }
  </style>
</head>
<body class="bg-gray-200">
  
  
 
  
    <nav class="container mx-auto px-6 py-3 navbar p-6 rounded-lg">
      <div class="flex items-center justify-between">
        <div class="text-black">
          <a href="{% url 'index' %}" class="text-xl font-bold">EE</a>
        </div>
        <div class="flex items-center">
          <a href="{% url 'acedemics' %}" class="text-gray-600 hover:text-gray-900 mx-3">Academics</a>
          <a href="{% url 'alumni_posts' %}" class="text-gray-600 hover:text-gray-900 mx-3">Research</a>
          <a href="{% url 'faculty_posts' %}" class="text-gray-600 hover:text-gray-900 mx-3">Articles</a>
          <a href="{% url 'alumni_posts' %}" class="text-gray-600 hover:text-text-gray-900 mx-3">Testinomials</a>
		<a href="{% url 'signup' %}" class="text-gray-600 hover:text-gray-900 mx-3">Sign Up</a>
		<a href="{% url 'login' %}" class="text-gray-600 hover:text-gray-900 mx-3">Sign In</a>	
<div class="dropdown">
                <button class="text-gray-800 hover:text-gray-900 mx-3 rounded-md px-3 py-2 text-sm font-medium">People</button>
                <nav class="dropdown-menu absolute hidden text-gray-200 pt-1">
                  <a class="rounded-t bg-gray-800 hover:bg-gray-900 py-2 px-4 block whitespace-no-wrap" href="{% url 'faculty_list' %}">Faculty</a>
                  <a class="bg-gray-800 hover:bg-gray-900 py-2 px-4 block whitespace-no-wrap" href="{% url 'alumni_list' %}">Alumni</a>
                  <a class="rounded-b bg-gray-800 hover:bg-gray-900 py-2 px-4 block whitespace-no-wrap" href="{% url 'user_list' %}">Students</a>
                


                </nav>
              </div>
           
          
        </div>
      </div>
    </nav>


    {% block content %}

    {% endblock %}
    
  </body> 


</html>