{% extends 'ele/base.html' %}




{% block content %}


s    <div class="container mx-auto my-8">
      <h1 class="text-3xl font-bold mb-4">Meet Our Developers</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <!-- Developer 1 -->
        <div class="bg-white rounded-lg shadow p-4">
          <img src="/media/images/ojas-logo-bg-black.jpg" alt="Developer 1" class="rounded-full h-40 w-auto mx-auto mb-4">
          <h2 class="text-lg font-semibold mb-2">Team Ojas</h2>
          <p class="text-gray-700">The club's motto is "Fueled by Innovation, driven by Determination," and its members work hard to come up with innovative and feasible answers to the world's pressing issues. We host both technical and non-technical activities with the goals of increasing students' enthusiasm for electrical engineering and creating a welcoming space where everyone feels comfortable sharing their ideas and having a go at making them a reality.</p>
          <ul class="mt-4">
            <li class="inline-block mr-4"><a href="https://www.linkedin.com/company/ojasnith/" class="text-blue-500 hover:text-blue-700">LinkedIn</a></li>
            <li class="inline-block mr-4"><a href="https://github.com/team-ojas" class="text-blue-500 hover:text-blue-700">GitHub</a></li>
            <li class="inline-block"><a href="https://ojas.festnimbus.com/" class="text-blue-500 hover:text-blue-700">Website</a></li>
          </ul>
        </div>
    


{% endblock %}