{% extends 'ele/base.html' %}

{% block title %}

Welcome to the department of electrical engineering


{% endblock %}


{% block content %}

<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<header class="flex-row items-center justify-center h-screen">
    <div class="text-left mx-3">
      <h1 class="text-4xl text-black  font-manrope hover:text-yellow-500  mb-2 text-left">Department of Electrical Engineering</h1>
      <p class="text-2xl text-black font-manrope mb-10 text-left">Welcome to the department of Electrical Engineering</p>
      <a href="#" class="bg-green-700 hover:bg-green-900 text-white font-bold py-2 px-6 rounded-full ml-3">Learn More</a>
      <a href="#" class="text-black border border-gray-400 font-bold py-2 px-6 rounded-full ml-3">
        Register Now
      </a>    
    </div>    
  </header>
  

{% endblock %}
