{% extends 'ele/base.html' %}

{% block title %}
Welcome to the department of electrical engineering
{% endblock %}

{% block content %}

<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-8 text-center text-gray-800">Log In</h2>
    <form method="post" class="space-y-4" id="login-form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="flex justify-center">
            <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" id="login-button">
                Log In
            </button>
        </div>
    </form>
    <p class="text-center mt-4">Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
</div>
{% endblock %}