{% extends 'ele/base.html' %}

{% block title %}

posts


{% endblock %}


{% block content %}

<div class="container mx-auto p-4">
    <h1 class="text-4xl font-bold mb-4">Professors</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for pf in pfs %}
        
        <div class="card shadow-lg">
            {% if pf.profile_image %}
            <img src="{{ pf.profile_image.url }}"class="w-32 h-32 rounded-full mr-4" alt="{{ pf.name }}">
            {% endif %}            
            <div class="card-body">
                <h5 class="card-title text-xl font-semibold"><a href="#"></a>{{ pf.username }}</a></h5>
                <p class="card-text text-gray-600">Subjects:-{{ pf.subjects }}</p>
                <p class="card-text text-gray-600">Email:-{{ pf.email }}</p>
                
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}