{% extends 'ele/base.html' %}

{% block content %}
  <div class="container mx-auto py-8">
    <div class="flex flex-wrap items-start mb-8">
      <div class="w-full lg:w-2/3 px-4 mb-8">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
          <div class="px-6 py-4">
            <h1 class="text-4xl font-bold mb-4">{{ object.title }}</h1>
            <div class="flex items-center mb-4">
              <div>
                <p class="text-sm font-medium text-gray-600 mb-2">By {{ post.author.name }}</p>
                <p class="text-gray-700 font-semibold">{{ object.author.first_name }} {{ object.author.last_name }}</p>
              </div>
            </div>
            <p class="text-gray-500 text-sm mb-4">{{ object.created_at|date:"F d, Y" }}</p>
          </div>
          <div class="prose max-w-none px-6 pb-4">{% autoescape off %}{{ object.content }}{% endautoescape %}</div>
          {% if object.document %}
            <div class="px-6 py-4 bg-gray-100">
              <a href="{{ object.document.url }}" class="text-blue-500 font-semibold hover:underline">Download Document</a>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="w-full lg:w-1/3 px-4 mb-8">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
          <div class="px-6 py-4">
            <h2 class="text-xl font-bold mb-2">Related Posts</h2>
            <div class="border-t border-gray-300 mt-4 pt-4">
              <ul>
                {% for post in related_posts %}
                  <li class="mb-2">
                    <a href="{{ post.get_absolute_url }}" class="hover:text-blue-500">{{ post.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
