{% extends 'ele/base.html' %}

{% block content %}
<div class="container mx-auto p-4">
  <div class="flex justify-center items-center">
    <div class="flex justify-center items-center">
      {% if user.profile_image %}
        <img src="{{ user.profile_image.url }}" alt="{{ user.name }}" class="w-32 h-32 rounded-full mr-4">
      {% endif %}
    </div>
    <div class="text-left">
      <h1 class="text-4xl font-bold">{{ user.username }}</h1>
      <h1 class="text-4xl font-bold text-blue-600">Name: {{ user.name }}</h1>
      <h2 class="text-lg text-gray-800">{{ user.role }}</h2>
      <p class="text-xl text-gray-600">Email: {{ user.email }}</p>
      <p class="text-lg text-gray-800 mt-4">{{ user.bio }}</p>
      {% if user.role == 'Alumni' %}
        <p class="text-lg text-gray-800 mt-4">Company: {{ user.company }}</p>
        <a class="rounded-b bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 block whitespace-no-wrap mt-4" href="{% url 'create_post' %}">Add Testimonial</a>
      {% elif user.role == 'Faculty' %}
        <p class="text-lg text-gray-800 mt-4">Subjects: {{ user.subjects }}</p>
        <a class="rounded-b bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 block whitespace-no-wrap mt-4" href="{% url 'create_post' %}">Add Article</a>
      {% endif %}
    </div>
  </div>
  <hr class="my-8 border-t-2 border-gray-300">
  <div class="mt-8">
    {% if user.role == 'Alumni' %}
      <h2 class="text-2xl font-bold mb-4 text-blue-600">Testimonials</h2>
    {% elif user.role == 'Faculty' %}
      <h2 class="text-2xl font-bold mb-4 text-blue-600">Articles</h2>
    {% endif %}
    {% if posts %}
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        {% for post in posts %}
          <div class="bg-white shadow-lg rounded-lg p-4">
            <h1 class="text-2xl font-bold mb-2">{{ post.title }}</h1>
            {% if post.subtitle %}
              <h6 class="text-lg font-bold mb-4">{{ post.subtitle }}</h6>
            {% endif %}
            <p class="text-gray-700 leading-relaxed">{{ post.content|safe }}</p>
            {% if post.document %}
              <a href="{{ post.document.url }}" class="block mt-4 text-sm font-bold text-blue-500 hover:text-blue-700">Download Document</a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p class="text-lg text-gray-800">No posts found.</p>
    {% endif %}
  </div>
</div>
{% endblock %}