{% extends 'ele/base.html' %}


{% block title %}


undergraduate programms


{% endblock %}



{% block content %}

<div class="container mx-auto p-4">
        <div class="p-4">
          <h2 class="text-2xl font-semibold text-gray-800">Bachelor of Technology (B.S.)</h2>
          <p class="text-gray-600 mt-2">The B.Tech. program provides a solid foundation in electrical engineering principles and applications, as well as mathematics, physics, and general education. Students can choose from various technical electives to specialize in areas such as electronics, power systems, communications, or signal processing.</p>
          <a href="#" class="inline-block bg-blue-600 text-white px-4 py-2 mt-4 rounded">Learn more</a>
        </div>
      </div>

    </div>
  </div>



{% endblock %}