{% extends 'ele/templates/ele/base.html' %}

{% block title %}
Gate
{% endblock %}

{% block content %}
<header class="bg-blue-500 text-white">
    <div class="container mx-auto py-4 px-8">
      <h1 class="text-3xl font-bold">GATE - Graduate Aptitude Test in Engineering</h1>
    </div>
  </header>
  <main class="container mx-auto py-8 px-8">
    <section class="mb-8">
      <h2 class="text-2xl font-bold mb-4">Overview</h2>
      <p class="mb-4">The Graduate Aptitude Test in Engineering (GATE) is an all-India examination that primarily tests the comprehensive understanding of various undergraduate subjects in engineering and science. The score is used for admissions to various post-graduate programs (e.g. Master of Engineering, Master of Technology, Doctor of Philosophy) in Indian higher education institutes, with financial assistance provided by MHRD and other government agencies.</p>
      <p class="mb-4">The exam is conducted by the GATE Committee, comprising faculty members from IISc and seven other IITs on behalf of the Ministry of Human Resources Development, National Coordinating Board and Department of Education. The purpose of the GATE exam is to test students’ knowledge in subjects like Engineering and Science. GATE scorecard is also used by multiple PSUs (Public Sector Undertakings) to recruit applicants for distinguished jobs at Indian Oil, GAIL and Hindustan Petroleum, etc.</p>
    </section>


    <section class="mb-8">
        <h2 class="text-2xl font-bold mb-4">NIT Hamirpur and GATE</h2>
        <p class="mb-4">At NIT Hamirpur, a lot of students have cleared this prestigious examination with flying colours. This time, students in 3rd year achieved a rank of around 450 in GATE.</p>
      </section>
      
      <section class="mb-8">
        <h2 class="text-2xl font-bold mb-4">Application Details</h2>
        <ul class="list-disc pl-4 mb-4">
          <li>Application Fee (for 2023): Rs. 1500/-</li>
          <li>It is conducted in online mode and consists of MCQs, MSQs, and NATs.</li>
          <li>The duration is 3 hours.</li>
          <li>The total mark is 100 marks, which consists of 15 for the Aptitude Test, and the rest 85 for the Subject Test.</li>
          <li>The total number of questions is 65.</li>
        </ul>
      </section>
      
      <section class="mb-8">
        <h2 class="text-2xl font-bold mb-4">Syllabus of Electrical Engineering</h2>
        <p class="mb-4">Apart from the common Aptitude Test for all fields, the GATE Syllabus for Electrical Engineering (EE) 2023 is divided into ten main sections. The main topics included in the GATE Syllabus For Electrical Engineering 2023 are Engineering Mathematics, Electric circuits, Electromagnetic Fields, Signals and Systems, Electrical and Electronic Measurements, Analog and Digital Electronics and Power Electronics.
        </p>
      </section>
  </main>
  
      


{% endblock %}