{% extends 'ele/templates/ele/base.html' %}

{% block title %}
  How to Guides
{% endblock %}

{% block content %}
  <div class="container mx-auto px-4 py-10">
   

      <div class="container mx-auto py-8">
        <h1 class="text-3xl font-bold mb-8">Google Summer of Code (GSoC)</h1>
        <p class="mb-4">
          The Google Summer of Code (GSoC) is an annual international program that awards stipends (of US$3,000 in the 2019 edition) for Indian students who successfully complete a requested free and open-source software coding project during the summer. In 2021, NIT Hamirpur had 18 students, 4th highest in the world for any institution, to clear GSoC. This is a testament to the developed coding culture in the institute.
        </p>
        <h2 class="text-2xl font-bold mb-4">Application</h2>
        <p class="mb-4">
          To apply to Google Summer of Code, students need to write an application proposal to their respective mentoring organisations. Often mentoring organisations have their own application templates which typically ask the student to give biographical information, details of the project and a timeline. The application window typically opens up in March for a period of eleven days but it is recommended that students start working on their applications as soon as the list of participating organisations is announced.
        </p>
        <h2 class="text-2xl font-bold mb-4">Eligibility</h2>
        <p class="mb-4">
          To participate in GSoC one needs to be a student and should be more than 18 years old before the results are announced. There is no other requirement for department or year of study. Also, you cannot participate in Google Summer of Code more than two times.
        </p>
        <h2 class="text-2xl font-bold mb-4">Timeline</h2>
        <ul class="list-disc pl-8 mb-4">
          <li>Organisation Application Period: Open source organizations can submit their applications to be mentor organizations for GSoC.</li>
          <li>Organisation Announced: Potential GSoC contributors discuss project ideas with accepted mentor organizations.</li>
          <li>Contributor Application Period: Potential GSoC contributors can register and submit their proposals to the mentor organizations that interest them.</li>
          <li>Proposal Review Period: Organisations review and select contributor proposals.</li>
          <li>Contributor Projects Announced: Accepted GSoC contributors are paired with a mentor and start planning their projects and milestones.</li>
          <li>Community Bonding: GSoC contributors spend 3 weeks learning about their organization’s community and preparing for their coding project.</li>
          <li>Coding Period: GSoC contributors work on their Google Summer of Code projects.</li>
          <li>Evaluations: Mentors and GSoC contributors submit their evaluations of one another.</li>
          <li>GSoC contributors submit code and final evaluations: GSoC contributors submit their code, project summaries, and final evaluations of their mentors.</li>
          <li>Mentors Submit Final Evaluations: Mentors review their GSoC contributor code samples and
          </li>
          <li>Result Announced: GSoC contributors are notified of the pass/fail status of their Google Summer of Code projects</li>
        </ul>
        <h2 class="text-2xl font-bold mb-4">To know more <a href="https://developers.google.com/open-source/gsoc/resources/guide" class="text-blue-500 hover:text-blue-700">Click on this </a> </h2>

      </div>
  </div>

{% endblock %}
