{% extends 'ele/templates/ele/base.html' %}

{% block title %}
How to Guides
{% endblock %}

{% block content %}
<div class="container mx-auto py-10">
    <h1 class="text-4xl font-bold mb-8 px-5">How to Guides?</h1>


    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 px-3 py-3">
      <section id="Competitive_Examinations" class="rounded-lg shadow-md px-5 py-4 bg-gray-200">
        <h2 class="text-2xl font-bold mb-4">General</h2>
        <ul>
          <li><a href="{% url 'gate' %}" class="text-blue-500 hover:text-blue-700">How to prepare for Gate?</a></li>
          <li><a href="{% url 'gsoc' %}" class="text-blue-500 hover:text-blue-700">Gsoc</a></li>
          <li><a href="{% url 'noc' %}" class="text-blue-500 hover:text-blue-700"> How to obtain a Non-Objection Certificate?</a></li>
          
          
        </ul>

    {% endblock %}