{% extends 'ele/templates/ele/base.html' %}

{% block title %}
Noc
{% endblock %}

{% block content %}


<div class="container mx-auto p-8">
    <h1 class="text-2xl font-bold mb-4">How to Obtain a Non-Objection Certificate?</h1>
    <div class="mb-8">
      <h2 class="text-lg font-bold mb-2">For 2nd year</h2>
      <p class="mb-4">Email the Head of the Department, requesting him/her to issue a NOC so that the student can apply for Internships and Jobs. The HOD will email the NOC back to the student.</p>
    </div>
    <div class="mb-8">
      <h2 class="text-lg font-bold mb-2">For 3rd year</h2>
      <p class="mb-4">Apply for NOC at the Training and Placement Office, NIT Hamirpur.</p>
    </div>
    <h1 class="text-2xl font-bold mb-4">Statement of Purpose (SOP)</h1>
    <div class="mb-8">
      <h2 class="text-lg font-bold mb-2">The Purpose of the SOP</h2>
      <ul class="list-disc list-inside mb-4">
        <li>a detailed discussion of why the candidate chose the particular program</li>
        <li>what he/she intends to do while pursuing the program</li>
        <li>what he/she will do after having gained the education</li>
      </ul>
    </div>
    <div class="mb-8">
      <h2 class="text-lg font-bold mb-2">What the SOP is Not</h2>
      <ul class="list-disc list-inside mb-4">
        <li>A detailed curriculum vitae</li>
        <li>A boastful description of what you have achieved in your life</li>
      </ul>
    </div>
    <div>
      <h2 class="text-lg font-bold mb-2">Key Ideas of SOP</h2>
      <ul class="list-disc list-inside">
        <li>Show, don't tell. Reinforce every claim you make with supporting evidence from your own experiences. Demonstrate evidence of critical thinking, and discussion of prior relevant research or project experience.</li>
        <li>Motivation is great. Don't just list out your research projects as successive bullet points. What motivated you to undertake those projects? What did you learn from them?</li>
      </ul>
    </div>
  </div>

{% endblock %}